body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../images/diningimg.jpeg');
    background-size: cover;
    padding-left: 50px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    color: #fff !important;
    margin-top: 10px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .services {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .services h2 {
    color: #333;
  }
  
  .services article {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #logoutButton {
    font-size: 16px;
    justify-content: right;
    cursor: pointer;
    float: right !important; /* Align the button to the right */
    background-color: beige;
  }