body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../images/diningimg.jpeg');
    background-size: cover;
    padding-left: 50px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  .meal-card {
    margin: 10px;
    padding: 0; /* Remove fixed padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    min-width: 200px; /* Set a minimum width */
    min-height: 150px; /* Set a minimum height */
    overflow: hidden; /* Hide overflowing content */
}

  .week-day {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }

  .menu-header {
    background-color: #fff;
  }
  
  #logoutButton {
    font-size: 16px;
    cursor: pointer;
    float: right; /* Align the button to the right */
    background-color: beige;
  }
  