<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/dining-menu.css">
  <title>Student Dining Menu</title>
</head>
<body>

<header>
  <h1>Student Dining Menu</h1>
  <nav>
    <a href="supervisor-dashboard.html">HOME</a>
  </nav>
</header>

<main>
  <table id="menu-table"></table>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="../scripts/dining-menu.js"></script>
</body>
</html>
