<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../styles/signup.css">
</head>
<body>

<div class="header">
  <img src="../images/umass_logo.jpg" alt="UMass Logo" class="logo">
  <h1>University of Massachusetts<span> Amherst</span></h1>
</div>

<div class="main-container">
    <div class="form-container">
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="name" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

      <button type="submit" id="signupButton">Sign Up</button>
      <p class="login-link">Already have an account? <a href="login.html">Login</a></p>
    </div>
</div>

<script src="../scripts/signup.js"></script>
</body>
</html>
