<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dining Common Shift</title>
    <link rel="stylesheet" href="../styles/student.css">
</head>
<body>

<div class="header">
  <img src="../images/umass_logo_with_name.jpg" alt="UMass Logo" class="logo">
  <h1>DINING COMMON SHIFT</h1>
  <div class="dropdown">
    <button class="dropbtn">Profile</button>
    <div class="dropdown-content">
      <a href="user-info.html">User</a>
      <a href="#">Requests</a>
      <a href="#">Approvals</a>
      <a href="#">Calender</a>
      <a href="login.html">Signout</a>
    </div>
  </div>
</div>


<div>
<div class="dept-container">
    <label for="Department">Select a Department:</label>
    <select id="Department" name="Department">
        <option value="line">Line</option>
        <option value="runner">Runner</option>
        <option value="kitchen">Kitchen</option>
        <option value="dish">Dish</option>
        <option value="potRoom">Pot Room</option>
        <option value="sushi">Sushi</option>
        <option value="grabNGo">Grab n Go</option>
    </select>
</div>

<div class="slot-container">
    <label>Select a time slot:</label>
    <br>
    <input type="checkbox" id="timeSlot1" name="timeSlot" value="8am-12pm">
    <label for="timeSlot1">8 am to 12 pm</label>
    <br>
    <input type="checkbox" id="timeSlot2" name="timeSlot" value="12pm-3pm">
    <label for="timeSlot2">12 pm to 3 pm</label>
    <br>
    <input type="checkbox" id="timeSlot3" name="timeSlot" value="3pm-6pm">
    <label for="timeSlot3">3 pm to 6 pm</label>
    <br>
    <input type="checkbox" id="timeSlot4" name="timeSlot" value="6pm-9pm">
    <label for="timeSlot4">6 pm to 9 pm</label>
    <br>
</div>

<div>
    <button class="red-button" id="requestButton">Request Approval</button>
</div>
</div>

<script src="../scripts/student.js"></script>
</body>
</html>
