<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="supervisor-approval.css">
</head>



<body>

    <div class="header">
      <img src="umass_logo.jpg" alt="UMass Logo" class="logo">
      <h1>University of Massachusetts<span> Amherst</span></h1>
    </div>

    <div class="approve-slots">
        <h2>EMPLOYEE  WORK SLOT REQUESTS</h1>
        <h3>Request no: 1</h3>
        <p>Name: John Doe</p>
        <p>Department:Grab and Go  </p>
        <p>Shift Timings: 10am-2pm</p>

        <div class="buttons">
            <button id="approve">APPROVE</button>
            <button id="reject">REJECT</button>
        </div>

        <h3>Request no: 2</h3>
        <p>Name: Amy Sparks</p>
        <p>Department: Kitchen</p>
        <p> Shift Timings: 11am-4pm</p>
        <div class="buttons">
            <button id="approve">APPROVE</button>
            <button id="reject">REJECT</button>
        </div>
    </div>
    
</body>
</html>
