<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/supervisor-dashboard.css">
  <title>Left Sidebar Navigation</title>
</head>
<body>

<div class="sidenav">
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="supervisor-profile.html" >Profile</a></li>
    <li><a href="dining-services.html">Services</a></li>
    <li><a href="supervisor-addslot.html">Add Slots</a></li>
    <li><a href="supervisor-approval.html">Add Slots</a></li>
  </ul>
</div>

<div class="content">
  <h2>Main Content Goes Here</h2>
  <p>This is the main content of your webpage.</p>
</div>

<script src="script.js"></script>
</body>
</html>
