<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/supervisor-addslot.css">
</head>

<body>
<div class="header">
  <img src="../images/umass_logo.jpg" alt="UMass Logo" class="logo">
  <h1>University of Massachusetts<span> Amherst</span></h1>
  <nav>
    <button id="homeButton">Home</button>
    <button id="logoutButton">Logout</button>
  </nav>
</div>

<div class="add-slots">
    <h3>Add Available Slots</h3>
    <form>
        <div>
            <label for="department">Department:</label>
        <input type="text" id="department" name="department">
        </div>
        
        <div>
            <label for="time-from">Time From:</label>
            <input type="time" id="time-from" name="time-from">
        </div>
        
        <div>
            <label for="time-to">Time To:</label>
            <input type="time" id="time-to" name="time-to">
        </div>
        
        <input type="submit" value="Add">
    </form>
</div>
<script src="../scripts/addslot.js"></script>
<script src="../scripts/navigateHome.js"></script>



</body>
</html>
