<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../styles/supervisor.css"> <!-- Link to your CSS file -->
</head>
<body>

<div class="header">
  <img src="../images/umass_logo.jpg" alt="UMass Logo" class="logo">
  <h1>University of Massachusetts<span> Amherst</span></h1>
</div>

<div class="main-container">
  <div class="form-container">
    <button type="submit" onclick="location.href='supervisor-addslot.html'">Add Slot</button>
    <button type="submit" onclick="location.href='supervisor-approval.html'">Approval</button>
    <button type="submit" onclick="location.href='supervisor-dashboard.html'">Dashboard</button>
    <button type="submit" onclick="location.href='supervisor-profile.html'">Profile</button>
  </div>
</div>

</body>
</html>
