<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../styles/user.css">
</head>
<body>

<div class="header">
  <img src="../images/umass_logo.jpg" alt="UMass Logo" class="logo">
  <h1>University of Massachusetts<span> Amherst</span></h1>
</div>

<div class="main-container">
    <div class="form-container">
      <button type="submit" onclick="location.href='student.html'">Student</button>
      <button type="submit" onclick="location.href='supervisor.html'">Supervisor</button>
    </div>
</div>

</body>
</html>
