<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/supervisor-addslot.css">
</head>

<body>
<div class="header">
  <img src="../images/umass_logo.jpg" alt="UMass Logo" class="logo">
  <h1>University of Massachusetts<span> Amherst</span></h1>
</div>

<div class="add-slots">
    <h3>Add Available Slots</h3>
    <form id="shiftForm">
        <div>
            <label for="department">Department:</label>
            <select id="department" name="department">
                <option value="DISHROOM">Dishroom</option>
                <option value="LINE">Line</option>
                <option value="GRABNGO">Grab and Go</option>
                <option value="KITCHEN">Kitchen</option>
            </select>
        </div>
        
        <div>
            <label for="time-from">Time From:</label>
            <input type="datetime-local" id="time-from" name="time-from">
        </div>
        
        <div>
            <label for="time-to">Time To:</label>
            <input type="datetime-local" id="time-to" name="time-to">
        </div>
        
        <div>
            <label for="capacity">Capacity:</label>
            <input type="number" id="capacity" name="capacity">
        </div>

        <input type="submit" value="Add">
    </form>
</div>
<script src="../scripts/addslot.js"></script>
</body>
</html>
