<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/supervisor-approval.css">
</head>

<body>

    <div class="header">
        <img src="../images/umass_logo.jpg" alt="UMass Logo" class="logo">
        <h1>University of Massachusetts<span> Amherst</span></h1>
    </div>

    <div class="approve-slots">
        <h2>EMPLOYEE WORK SLOT REQUESTS</h2>
        <div id="shiftRequests"></div>
    </div>

    <!-- Import the script -->
    <script src="../scripts/approval.js"></script>

</body>

</html>
